.navRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    flex: 1;
    width: 100%;
}

.navLinksList {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.linkButton {
   display: flex;
   flex-direction: row;
   padding: 5px 5px
}

.navList li a:hover,
.logoutButton:hover {
    font-weight: bold;
    cursor: pointer;
}

.logoutButton {
    background: none;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}